In [7]:
import pandas as pd

#Read IND_data.csv into a Dataframe, assigned to df
df= pd.read_csv("Ecommerce Purchases")

#df
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [9]:
sal=pd.read_csv('Ecommerce Purchases')
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [10]:
sal['Purchase Price'].max()

99.99

In [11]:
sal['Purchase Price'].min()

0.0

In [20]:
sal['Language'].value_counts()

ru    1155
de    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [21]:
sum(sal[sal['AM or PM']=='AM']['Purchase Price'].value_counts() == 1)

3052

In [22]:
sum(sal[sal['AM or PM']=='PM']['Purchase Price'].value_counts() == 1)

3044

In [23]:
qw=sal[sal['Lot']=='90WT']
qw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
Address             0 non-null object
Lot                 0 non-null object
AM or PM            0 non-null object
Browser Info        0 non-null object
Company             0 non-null object
Credit Card         0 non-null int64
CC Exp Date         0 non-null object
CC Security Code    0 non-null int64
CC Provider         0 non-null object
Email               0 non-null object
Job                 0 non-null object
IP Address          0 non-null object
Language            0 non-null object
Purchase Price      0 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 0.0+ bytes

In [24]:
sal[sal['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [28]:
sal[sal['CC Exp Date']==2025].max()

Address            NaN
Lot                NaN
AM or PM           NaN
Browser Info       NaN
Company            NaN
Credit Card        NaN
CC Exp Date        NaN
CC Security Code   NaN
CC Provider        NaN
Email              NaN
Job                NaN
IP Address         NaN
Language           NaN
Purchase Price     NaN
dtype: float64

In [30]:
sal['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [27]:
sal['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [ ]:
sal[(sal['CC Provider'])]